<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina-login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- Este es el contenido del sign -->
    <div class="content-sign">
        <!-- Este es el wallpaper -->
    <div class="cont-sign-wallpaper">
        <img src="../static/imagenes/pizza.jpg" alt="">
    </div>
    <div class="flex-cont-form">
        <!-- Este es el formulario -->
        <form class="sign-form" action="/login_post" method="POST">
            <h2 class="sign-title">Login</h2>
            <label for="username">Username</label>
            <input class="inputstl" name="username" id="username" placeholder="Escribe tu usuario" type="text" required>
            <label for="password">Password</label>
            <input class="inputstl" name="password" id="password" placeholder="Escribe tu contraseña" type="password" required>
            <button class="sign-btn" type="submit">Ingresar</button>
            <a class="formlink" href="/register">Registrate</a>
        </form>
    </div>
    </div>
</body>
</html>